.lowerNavBar {
  border-bottom-style: groove;
}

.department__button {
  border: none;
  background-color: white;
  font-size: 85%;
}

.department__button:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.arrow {
  vertical-align: -3px;
  font-size: 15px;
  transform: rotateZ(90deg);
  margin-left: 3px;
}

.department__button:hover .arrow {
  animation: rotate 0.3s linear forwards;
}

@keyframes rotate {
  0% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(-90deg);
  }
}
