.branding-header {
  height: 60px;
  width: 200px;
}

.nav-icon {
  margin-top: 0.3em;
  padding: 3px;
  color: black;
  font-size: 2.2em;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 0.2em;
  vertical-align: -0.5em;
  border-radius: 50%;
  transition: box-shadow 0.2s;
}

.nav-icon:hover {
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  color: #ff41da;
}

.navbar-right {
  float: right;
}

.navbar-right .hamburger-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-icon {
    display: none;
  }

  .searchbar {
    display: none;
  }

  .search-icon {
    display: none;
  }

  .navbar-right .hamburger-icon {
    display: block;
    color: black;
    padding-top: 0.2em;
    font-size: 2.2em;
  }
}

.searchbar {
  margin-top: 1em;
  outline-style: none;
  border: 0.1em solid #ff41d9a6;
  border-radius: 14px;
  width: 20em;
}

.searchbar::placeholder {
  color: rgb(146, 145, 145);
}

input[type="text"].searchbar {
  padding-left: 15px;
  padding-right: 15px;
}

.search-icon {
  font-size: 2.2em;
  margin-right: 5px;
  vertical-align: -0.35em;
}
